@tailwind base;
@tailwind components;
@tailwind utilities;


.text-xsm{
    font-size: 12px;
}

body{font-family: 'Poppins', sans-serif}

*{
    padding: 0;margin: 0;box-sizing: border-box;;
}


.sidebar-collapse .asideBar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 90%;
    max-width: 250px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    text-align: left;
    padding-top: 0;
    padding-left: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    z-index: 999;
    transition: all 300ms;
    height: 100vh;
}